<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ETWControler.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETWControler.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ETWControler.Configuration>
            <setting name="PortNumber" serializeAs="String">
                <value>4295</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="WCFPort" serializeAs="String">
                <value>8091</value>
            </setting>
            <setting name="SlowEventMessage" serializeAs="String">
                <value>Here it was slow</value>
            </setting>
            <setting name="SlowEventHotkey" serializeAs="String">
                <value>Insert</value>
            </setting>
            <setting name="LocalTraceStart" serializeAs="String">
                <value>::.\Scripts\xxWPR.cmd -start GeneralProfile -start DotNET -start ETW\HookEvents.wprp</value>
            </setting>
            <setting name="LocalTraceStop" serializeAs="String">
                <value>::.\Scripts\xxWPR.cmd -stop $FileName  $ScreenshotDir</value>
            </setting>
            <setting name="ServerTraceStart" serializeAs="String">
                <value>::.\Scripts\xxWPR.cmd -start GeneralProfile</value>
            </setting>
            <setting name="ServerTraceStop" serializeAs="String">
                <value>::.\Scripts\xxWPR.cmd -stop $FileName  $ScreenshotDir</value>
            </setting>
            <setting name="LocalTraceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerTraceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FastEventMessage" serializeAs="String">
                <value>Here it was fast again</value>
            </setting>
            <setting name="FastEventHotkey" serializeAs="String">
                <value>Snapshot</value>
            </setting>
            <setting name="ScreenshotDirectory" serializeAs="String">
                <value>c:\temp\ETWControlerScreenshots</value>
            </setting>
            <setting name="LocalTraceCancel" serializeAs="String">
                <value>::.\Scripts\xxWPR.cmd -cancel</value>
            </setting>
            <setting name="ServerTraceCancel" serializeAs="String">
                <value>::.\Scripts\xxWPR.cmd -cancel</value>
            </setting>
            <setting name="TraceFileName" serializeAs="String">
                <value>c:\temp\etwControler%COMPUTERNAME%.etl</value>
            </setting>
            <setting name="ForcedScreenshotIntervalinMs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CaptureKeyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureMouseButtonDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JpgCompressionLevel" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TraceOpenCmdLine" serializeAs="String">
                <value>wpa -i $FileName -profile ETW\Simple.wpaProfile</value>
            </setting>
            <setting name="KeepNNewestScreenShots" serializeAs="String">
                <value>100</value>
            </setting>
        </ETWControler.Configuration>
    </userSettings>
    <applicationSettings>
        <ETWControler.Configuration>
            <setting name="Presets" serializeAs="Xml">
                <value>
                    <ArrayOfPreset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Preset>
                            <Name>Default</Name>
                            <TraceStartCommand>::.\Scripts\xxWPR.cmd -start GeneralProfile  -start ETW\HookEvents.wprp</TraceStartCommand>
                            <TraceStopCommand>::.\Scripts\xxWPR.cmd -stop $FileName $ScreenshotDir</TraceStopCommand>
                            <TraceCancelCommand>::.\Scripts\xxWPR.cmd -cancel</TraceCancelCommand>
                        </Preset>
                        <Preset>
                            <Name>Default and .NET</Name>
                            <TraceStartCommand>::.\Scripts\xxWPR.cmd -start GeneralProfile -start DotNET  -start ETW\HookEvents.wprp</TraceStartCommand>
                            <TraceStopCommand>::.\Scripts\xxWPR.cmd -stop $FileName $ScreenshotDir</TraceStopCommand>
                            <TraceCancelCommand>::.\Scripts\xxWPR.cmd -cancel</TraceCancelCommand>
                        </Preset>
                    </ArrayOfPreset>
                </value>
            </setting>
        </ETWControler.Configuration>
    </applicationSettings>
</configuration>
