<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETWControler.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ETWControler.Configuration>
            <setting name="PortNumber" serializeAs="String">
                <value>4295</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="WCFPort" serializeAs="String">
                <value>8091</value>
            </setting>
            <setting name="SlowEventMessage" serializeAs="String">
                <value>Here it was slow</value>
            </setting>
            <setting name="SlowEventHotkey" serializeAs="String">                <value />
            </setting>
            <setting name="WCFServerUri" serializeAs="String">
                <value>http://localhost:8090/TraceControlerService</value>
            </setting>
            <setting name="LocalTraceStart" serializeAs="String">
                <value>-start GeneralProfile</value>
            </setting>
            <setting name="LocalTraceStop" serializeAs="String">
                <value>-stop c:\temp\etwcontroler.etl</value>
            </setting>
            <setting name="ServerTraceStart" serializeAs="String">
                <value>-start GeneralProfile</value>
            </setting>
            <setting name="ServerTraceStop" serializeAs="String">
                <value>-stop c:\temp\etwServercontroler.etl</value>
            </setting>
            <setting name="LocalTraceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerTraceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ETWControler.Configuration>
    </userSettings>
</configuration>
